%blocks {

    padding: 3rem 0;

    &__title {
        color: $color-04;
    }

    &__list{
        list-style-type: none;
        font-size: $font-small;
        display: flex;
        margin: 20px;
    }


    &__item{
        color: $color-04;
        margin: 0;
        width: calc(33.33% - #{$space-default * 2});
        min-width: calc(33.33% - #{$space-default * 2});

        @media (max-width: 999px) {
            width: 30%;
            min-width: 30%
        }


        &__img-container {
            height: 4rem;
            overflow: hidden;
            width: 20%;

        }

    }

        &__button {
        background-color: $color-01;
        border-radius: 5px;
        color: rgb(255, 0, 0);
        display: block;
        font-size: $font-medium;
        margin: $mt-02 auto $mb;
        padding: 4px 8px;
        text-align: center;
        text-decoration: none;
    }
    

}