.destack {
    h1 {
        color: $color-03;
        float: left;
        font-size: $font-big;
        margin: 20px;
    }
    h2 {
        float: left;
        font-size: $font-small;
        margin-left: $space-default;
        margin-top: $mt;
    }

    img {
        width: 60%;
        height: 40%;
        margin: 20px; /* Correção: substituída a vírgula por ponto e vírgula */
    }

    .destack__logo img {
        max-width: 200px !important;
        height: auto !important;
        margin: 12px;
        padding: 24px;
    }

    .cars__image {
        min-height: 300px; /* Defina a altura mínima desejada aqui */
        height: auto; /* Isso garante que a altura seja ajustada conforme a proporção da imagem */
        width: 100%; /* Isso garante que a largura seja ajustada automaticamente para manter a proporção */
    }

    p {
        font-size: $font-normal;
        color: $color-01;
        padding: 2rem 0;
        width: 100%;
        display: flex;
    }
}
