$align: left;
$bg-color: #000000;
$color-01: rgb(142, 142, 142);
$color-02: #ffffff;
$color-03: rgb(238, 6, 6);
$color-04: #ffffff;
$color-default: rgb(248, 4, 4);
$font-big: 3rem; 
$font-family-default: Helvetica, sans-serif;
$font-medium: 2.2rem;
$font-normal: 1.9rem;
$font-small: 1.3rem;
$mb: 2.5rem;
$mt: 1.5rem;
$mt-02: 3rem;
$space-default: 1.5rem;